*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
}
a:hover{
    color: white;
}

body {
    margin: 0;
    background-color: rgb(190, 190, 190);
}

.ortala{
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    background-color: rgb(52, 52, 52); 
    color: white;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.center2{
    display: flex;
    justify-content: space-evenly;
}

table {
    width: 50%;
    margin: 0 auto; 
    border-collapse: collapse; 
    text-align: center; 
    font-family: Arial, sans-serif;
}

.table{
    margin: 40px;
}

th, td {
    border: 2px solid rgb(52, 52, 52); 
    padding: 10px; 
    transition-duration: 0.4s;
}

th, td:hover{
    background-color: rgb(114, 255, 112);
    transition-duration: 0.4s;
}

th {
    background-color: rgb(52, 52, 52); 
    color: white;
}

.footer{
    background-color: rgb(52, 52, 52); 
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.footer a{
    color: white;
}

.hikayeimg{
    height: 300px;
    margin: 30px;
    border-radius: 30px;
}
.center p{
    max-width: 900px;
    background-color: rgb(239, 239, 239);
}

figure{
    padding: 10px;
}

.bosluk{
    height: 400px;
}
